{{#each this}}
{{#if isChange}}
<div class="item change-item">
	<div class="item-con">
		<a href="javascript:;" class="btn-change" id="change_sg">
			<span class="btn-in">
				<i class="ico1 ico1-refresh"></i>
				<span class="text">
					<span class="t1">不是我要的</span>
					<span class="t2">点我换一组看看呗</span>
				</span>
			</span>
		</a>
	</div>
</div>
{{else}}
<div class="item girl-item" data-id="{{id}}">
	<div class="item-con">
		<div class="pic">
			<a target="_blank" href="page-pic-final.shtml?id={{id}}">
				<img src="{{thumb}}!a-3-480x.jpg" width="200" height="270" alt="" style="width:200px; height:270px !important;">
			</a>							
		</div>
		<div class="text">
			<p>
				<span class="tit">姓名：</span>{{sg_name}}</p>
			<p>
				<span class="tit">胸围：</span>{{sg_cup}}</p>
			<p>
				<span class="tit">身高：</span>{{sg_height}}</p>
			<p>
				<span class="tit">体重：</span>{{sg_weight}}</p>
			<p>
				<span class="tit">来自：</span>{{province}}</p>
			<p>
				<span class="tit">厂商：</span>{{company_name}}</p>
			<div class="support-box"{{#unless sg_name}} style="display:none;"{{/unless}}>
				<div class="support-num">
					<i class="ico1 ico1-heart-red-s"></i>
					<span class="num" data-support>{{likes}}</span>
				</div>
				<a class="btn-support onlyone" target="_blank" href="page-pic-final.shtml?id={{id}}">赞，就是她了</a>
			</div>
		</div>
	</div>
	<div class="item-txt">
		<p class="tit">比一比你和朋友谁的撸点高:</p>
		<p class="share-box"></p>
	</div>
</div>
{{/if}}

{{/each}}


